.home {
   display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-top:165px ;
    margin-left: 70px;
}

.simple-text {
    font-family: 'DINPro', sans-serif;
    font-size: 27px;
    line-height: 57px;
}
.accent-text {
    font-family: 'Gilroy Extrabold', sans-serif;
    font-weight: bold;
}
.home-content {
    font-family: 'Gilroy Light', sans-serif;
    font-size: 110px;
    line-height: 118px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.home-content div {
    display: flex;
    align-items: center;
}
.home-content p{
    display: inline-block;
}

.home-content .button-wrapper {
    display: inline-block;
    margin-left: 50px;
}
