.description{
    /*margin-top:230px ;*/
    /*margin-left: 70px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.description-content {
    display: flex;
}
.scroll::before{
    content: '';
    width: 20px;
    margin-left: -8px;
    border-radius:10px ;
    height: 100px;
    position: absolute;
    background-color: #ff6a9f;
}
.scroll {
    width: 4px;
    height: 450px;
    margin-right:25px;
    background-color: black;
}

.description-card{
    padding: 25px 25px 25px 50px;
    height: 450px;
    width: 800px;
    overflow-y: scroll;
    z-index: 5;
    direction: rtl;
    text-align: left;
    background-color: white;
    border-radius: 30px;
}

.description-card::-webkit-scrollbar {
    width: 0;
}

