.header{
    display: flex;
    align-items: center;
    top: 25px;
    left: 65px;
    margin-left: -5px;
    position: fixed;
}

.icon-home{
    height: 20px;
    width: 22px;
}

.logo-name::before{
    content: '';
    height: 25px;
    border-left: 1px solid black;
    margin: 0 25px;
}
.logo-name{
    text-transform: uppercase;
    font-family: 'Circe', sans-serif;
    font-size: 17px;
    font-weight: normal;
}

